
<!DOCTYPE html>
<html>
    <head>
        <title>Бесплатные онлайн-уроки</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-60x60.png" sizes="60x60" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    </head>
    <body>
        <div id="wrapper">

            <div class="header">
                <div class="row">
                    <a class="logo" href="#">
                        <img src="img/logo-white.png" title="Онлайн-школа" alt="Онлайн-школа" />
                    </a>
                    <div class="site-title">
                        <p>Система ускоренного обучения</p>
                    </div>
                    <div class="get-call">
                        <ul>
                            <li><p><a href="tel:+77777777">+7 777 7777</a></p></li>
                            <li><p><a href="tel:+7 777 7777">+7 777 7777 7777</a></p></li>
                        </ul>
                        <p class="get-call-free">Звонок бесплатный со всех телефонов</p>
                    </div>
                </div>
            </div>

            <section id="banner" class="banner tc">

                <div class="banner-content row">
                    <h1>Улучшите свои навыки за неделю с помощью <br />5 уникальных техник</h1>
                    <p class="banner-text">Получите первые 5 уроков от нашей школы, которые <strong>гарантированно изменят ваши навыки</strong> уже через несколько дней!</p>
                    <form class="banner-form form_newsletter" action="" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
                        <input type="hidden" value="1" id="required_fields_email" name="required_fields[email]" />
                        <input id="user-email" class="user-email" maxlength="255" name="Contact[email]" type="text" placeholder="Ваш email" required />
                        <input id="lessons-submit" class="button large" type="submit" value="Получить уроки на email" />
                        <!-- Обязательный параметр. Не удалять и не изменять! -->
                        <input type="hidden" value="30" id="form_newsletter_id_newsletter" name="Contact[id_newsletter]" />
                        <!-- API код канала рекламы -->
                        <input type="hidden" value="177" id="form_newsletter_id_advertising_channel_page" name="Contact[id_advertising_channel_page]" />
                    </form>
                </div>

                <div class="mass-media">
                    <ul class="row">
                        <li class="title"><p>О нас говорят:</p></li>
                        <li>
                            <figure>
                                <img src="img/smi/mir.png" />
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/smi/cosmo.png" />
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/smi/moskva-24.png" />
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/smi/ren-tv.png" />
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/smi/tv-c.png" />
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/smi/dni-ru.png" />
                            </figure>
                        </li>
                    </ul>
                </div>

                <div class="overlay overlay-4"></div>
                <div class="overlay overlay-1"></div>
                <div class="overlay overlay-2"></div>
                <div class="overlay overlay-3"></div>

            </section>
        </div>

        <footer class="site-footer">
            <p>2016 © Онлайн школа "Онлайн школа" | ИП Иванов И.И. | ИИН 860204000000</p>
        </footer>

        <div class="loading"><span class="loading-icon"></span></div>

        <link rel="stylesheet" type="text/css" href="css/lattice.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="font/fonts.min.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/common.js"></script>
        <script src="js/js.cookie.js"></script>

    </body>
</html>
<!-- https://livetex.ru/lp/chat_zvonok_lg -->
